:root {
  --blue: #38B6FF;
}

body {
  // height: 100vh;

  margin: 30px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Montserrat', sans-serif;
}

.z-index {
  z-index: 1;
}

.d-none {
  display: none;
}

.bold {
  font-weight: bold;
}

.content {
  background-color: white;
  padding: 30px;
  border-radius: 45px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  width: 450px;
}
