:root {
  --blue: #38B6FF;
}

body {
  margin: 1.875rem 0 0 0;
  // display: flex;
  // justify-content: center;
  background-color: var(--blue);
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.content {
  background-color: white;
  margin: auto;
  padding: 1.875rem;
  border-radius: 2.813rem;
  box-shadow: 0.625rem 0.625rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.z-index {
  z-index: 1;
}

.d-none {
  display: none;
}

.bold {
  font-weight: bold;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 17px;
  }

  .content {
    width: 80%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 12px;
  }

  .content {
    width: 70%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }

  .content {
    width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
  .content {
    width: 30%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }

}
