<div class="content">
  <div class="header">
    <img src="https://i.ibb.co/fvcf6TR/tweeter-cloud-logo.png" alt="tweeter-cloud-logo">
    <h1>Welcome to Tweeter!</h1>
    <h3>Generate tweets with <i>Artificial Intelligence</i></h3>
  </div>
  <div id="tweet">
    <%= render 'form' %>
  </div>
</div>
 <a id="share" href="<%=@url%>" target="_blank">Post</a>
