<div class="content">
  <div class="header">
    <img src="https://i.ibb.co/KKQKWtf/tweeter-logo.png" alt="tweeter-logo">
    <h1>Welcome to Tweeter!</h1>
    <h3>Generate Tweets with ease using the power of AI</h3>
  </div>
 <%= render 'shared/form' %>
</div>
