<div class="container">
  <div class="content">
    <div class="header" data-controller="info">
      <div class="logo">
        <img src="https://i.ibb.co/xCBWz0F/tweeter-logo.png" alt="tweeter-logo">
      </div>
      <h1>Welcome to <span id="app-name">Tweeter!</span></h1>
      <h3>Generate tweets with <i>Artificial Intelligence</i></h3>
      <button id="info-button">info<i class="fa-light fa-circle-info"></i></button>
  </div>
  <div id="tweet">
    <%= render 'form' %>
  </div>
</div>
<div id="info-container" class="info-container">
  <%= render 'shared/info' %>
</div>
