
<div class="sun rotate">
  <div class="no-rotate">
    <h2><%= @count %></h2>
    <h5>Tweets Generated</h5>
    <h5>with Tweeter!</h5>
  </div>
</div>
<div class="center">
  <div id = "cloud1"></div>
</div>
<div class="top">
  <div id = "cloud2"></div>
</div>
<div class="bottom">
  <div id = "cloud3"></div>
</div>
<div class="right-top">
  <div id = "cloud4"></div>
</div>
<div class="right-bottom">
  <div id = "cloud5"></div>
</div>
<div class="plane">
  <img src="https://i.ibb.co/rbrthQD/plane.png" alt="plane" class="fly">
</div>
<div class="right-center">
  <div id = "cloud6"></div>
</div>
<div class="left-bottom">
  <div id = "cloud7"></div>
</div>
<div class="left-top">
  <div id = "cloud8"></div>
</div>
<div class="left-center">
  <div id = "cloud9"></div>
</div>
