 <div class="form" data-controller="form">
    <form action="<%= tweets_path %>" method="POST" data-remote="true">
      <div class="form-row">
        <label for="tweet_topic">Topic</label>
        <input class="field" type="text" id="tweet_topic" name="tweet[topic]">
      </div>
      <div class="form-row">
        <label for="tweet_keywords">Include these keywords:</label>
        <input class="field" type="text" id="tweet_keywords" name="tweet[keywords]">
      </div>
      <div class="form-row">
        <label for="tweet_perspective">From the perspective of:</label>
        <input class="field" type="text" id="tweet_perspective" name="tweet[perspective]">
      </div>
      <div class="form-row">
        <label for="tweet_tone">In the tone:</label>
        <input class="field" type="text" id="tweet_tone" name="tweet[tone]">
      </div>
      <div class="form-row">
        <label for="tweet_audience">For an audience of:</label>
        <input class="field" type="text" id="tweet_audience" name="tweet[audience]">
      </div>
      <div class="form-row">
        <label for="tweet_hastags">With hashtags:</label>
        <input class="field" type="text" id="tweet_hashtags" name="tweet[hashtags]">
      </div>
      <div class="emojis">
        <label for="tweet_emojis">Emojis 🙈</label>
        <input type="checkbox" id="tweet_emojis" name="tweet[emojis]">
      </div>
      <div class="form-row">
        <input class="form-submit" type="submit" value="Generate!">
      </div>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    </form>
  </div>
