<div class="information">
  <h2>Hello and welcome!</h2>
  <p>Meet Tweeter, the AI-powered web app that generates tweets for you based
    on your chosen parameters. Select your tone, topic, and style, and let Tweeter
    do the rest. Say goodbye to writer's block and hello to effortless, impressive
    tweets. Try Tweeter now and tweet like a pro!
  </p>
  <p>
    Tweeter was created as a fun and engaging Ruby on Rails project with the goal
    of exploring and learning new technologies along the way.</p>
  <h3>Coded by <a href="">Oscar Welton</a></h3>
  <ul class="socials">
    <li><a href="https://twitter.com/welton_oscar" target="_blank"><i class="fa-brands fa-square-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/in/oscar-welton-293961255/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href="https://github.com/oscposc" target="_blank"><i class="fa-brands fa-square-github"></i></a></li>
    <li><a href="https://www.instagram.com/oscar.welton/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
  </ul>
  <button id="close-button">close</button>
</div>
