<div class="links">
  <%= link_to root_path, class:"button" do %>
    New <i class="fa-solid fa-arrows-rotate"></i>
  <% end %>
  <%= link_to("#", class: "button") do %>
    Edit <i class="fa-solid fa-pen-to-square"></i>
  <% end %>
  <%= link_to(@url, class: "button", target: "_blank") do %>
    Share <i class="fa-brands fa-twitter"></i>
  <% end %>
</div>
