.header {
  position: relative;

  .logo {
    text-align: center;
  }

  h1 {
    margin: 0.625rem 0;
    text-align: center;
  }

  h3 {
    margin: 0 0 1.875rem 0;
    color: var(--dark-shadow);
    text-align: center;
  }

  img {
    height: 5rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  #app-name {
    color: var(--blue);
    text-shadow: 0.125rem 0.125rem var(--light-shadow);
  }
}
