.sun {
  height: 35vh;
  width: 35vh;
  position: absolute;
  top: 10%;
  left: 2.5%;
  transform: translate(-50%, -50%);
  background-image: url(https://i.ibb.co/zRwrL0t/sun-logo.png);
  background-size: contain;
}

.rotate {
  animation: rotation 60s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.no-rotate {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: none;
}
