.sun {
  height: 35%;
  width: 35%;
  position: absolute;
  top: 10%;
  left: 2.5%;
  transform: translate(-50%, -50%);
  background-image: url(https://i.ibb.co/zRwrL0t/sun-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rotate {
  animation: rotation 70s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.no-rotate {
  color: white;
  position: fixed;
  top: 36%;
  left: 25%;
  transform: translate(-50%, -50%);
  animation: rotation 70s infinite linear;
  animation-direction: reverse;

  h2, h5 {
    margin: 0;
    text-align: center;
  }

  h2 {
    font-size: 50px;
  }

  h5 {
    font-size: 20px;
  }
}
